section.see_position
	.container_fluid
		p.see_position__text 
			span We're looking for 
			span talented and driven people.
		p.see_position__text Maybe you'd like to join our team?
		.see_position__btn
			a(href="#").btn see open position
				.btn__hover
				.btn__active







