section.see_position
	.container_fluid
		p.see_position__text 
			span We're looking for 
			span talented and driven people.
		p.see_position__text Maybe you'd like to join our team?
		p.text_bold.see_position__descr Our strive to make families around the world safer with talent and hard work are the keys to our creativity, success and awesome working culture. We're hiring a few more superstars. Maybe you'd like to join us?
		.see_position__btn
			a(href="/contact.html").btn Contact us
				.btn__hover
				.btn__active







