section.see_position
	.container_fluid
		p.text_bold.see_position__descr Our strive to make families around the world safer with talent and hard work are the keys to our creativity, success and awesome working culture. We're hiring a few more superstars. Maybe you'd like to join us?
		.see_position__btn
			a(href="/contact.html" onclick="gtag('config', 'Contact_Us_Tapped');").btn Contact us
				.btn__hover
				.btn__active







