.footer
	color: #fff
	background-image: linear-gradient(95deg, #118c98, #0ea39e 66%, #0cafa2)

	.container_fluid
		padding-left: 68px
		padding-right: 68px

	&__social
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		position: relative

		margin-bottom: 102px

		&::before
			content: ""
			display: block
			position: absolute

			left: 0
			top: 180%

			height: 1px
			width: 100%

			background-color: #fff

		&_link:first-child
			margin-right: 24px

			@media(max-width:1439px)
				margin-right: 20px

		&_link
			height: 50px
			width: 169px
			display: block

			@media(max-width:1439px)
				width: 118px
				height: 35px


			&_img
				max-width: 100%
				height: auto     
				display: block

				// @media(max-width:1439px)
				// 	width: 118px
				// 	height: 35px

	
	&__title
		padding: 50px 0 22px 0

		@media(max-width:1439px)
			padding: 37px 0 17px 0

	&__list_wr
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		padding-bottom: 50px

	&__copy
		text-align: center

		font-size: 16px
		line-height: 42px
		font-family: 'Avenir-Light'

		color: #fff
		opacity: .4

		padding-bottom: 208px

.nav_list:nth-child(1)
		width: 24%

.nav_list:nth-child(2)
	width: 21%

.nav_list:nth-child(3)
	width: 23%

.nav_list:nth-child(4)
	width: 19%

.nav_list:nth-child(5)
	width: 13%

.nav_list
	color: #fff

	font-size: 22px

	// width: 20%


	&__title
		font-family: 'Avenir-Medium'
		
		line-height: 28px
		
		margin-bottom: 25px

	&__link
		font-family: 'Avenir-Light'

		line-height: 60px

// font-family: 'Avenir-Medium'
// font-family: 'Avenir-Light'