.comments
	padding-bottom: 380px

	&__title
		padding-bottom: 14px

	&__stars
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-content: center
		align-items: center



		&_text
			font-size: 22px
			font-family: 'Avenir-Light'
		
		&_img
			width: 154px
			height: 24px
			padding: 8px 18px
			margin-left: 17px

			border: 1px solid #b7b7b7
			border-radius: 80px

	&__wr
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

	&__left, &__right 
		width: 50%
		padding-left: 14px
		padding-right: 14px

	&__right 
		margin-top: 40px

	&__btn
		text-align: center
		

		


.coment
	padding: 34px
	margin-bottom: 30px

	box-shadow: 3px 4px 12px 4px rgba(0,0,0,0.3)

	&__footer
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center
		align-content: center

		margin-top: 20px

	&__body
		// 

	&__text
		font-family: 'Avenir-Light'
		font-size: 22px
		line-height: 28px

		color: #313131

	&__name
		color: #000

		font-size: 22px
		font-family: 'Avenir-Medium'
		