.comments
	padding-bottom: 380px

	&__title
		padding-bottom: 14px

	&__stars
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-content: center
		align-items: center



		&_text
			font-size: 22px
			font-family: 'Avenir-Light'
		
		&_img
			width: 154px
			height: 24px
			padding: 8px 18px
			margin-left: 17px

			border: 1px solid #b7b7b7
			border-radius: 80px