section.section_simple.section_loc
	.bg
		img(src="../../../../static/img/picture/GeoZilla-Family-GPS-Locator-Apple-Watch.jpg", alt="GeoZilla Family GPS Locator Apple Watch").section_loc__bg
		//- img(src="../../../../static/img/icon/Home 1.png", alt="home").section_loc__home
	.container_fluid
		.section_loc__decore
			img(src="../../../../static/img/other/GeoZilla-Family-GPS-Locator-Apple-Watch.png", alt="GeoZilla Family GPS Locator Apple Watch Mom Arrived Home").section_loc__decore_img.section_loc__decore_img_one
			//- img(src="../../../../static/img/icon/Path 4 Copy 3.png", alt="clock").section_loc__decore_img.section_loc__decore_img_two
		.section_simple__content.section_loc__content
			.section_simple__content_right.section_loc__right
				.section_simple__content_head
					h2.section_loc__title.title_section.section_simple__title Share your location with Apple Watch
				.section_simple__content_body
					p.section_loc__text.section_simple__text Your kid is out without a phone? 
					b.section_loc__text.section_simple__text.text_bold  Know where your loved ones are even if they don’t bring their phone! Pair their Apple Watch with GeoZilla to share their location and offer that precious peace of mind to you and your family.
				.section_simple__content_footer.section_loc__content_footer
					.section_loc__btn
						include ../btn/btn_color/btn