.apps
	padding-bottom: 125px

	color: #fff

	// background-image: linear-gradient(45deg, rgba(17,141,152,1) 0%, rgba(14,163,158,1) 66%, rgba(12,175,161,1) 100%)
	background-image: linear-gradient(-95deg,#118c98,#0ea39e 66%,#0cafa2)
	.container_fluid
		padding-left: 100px
		padding-right: 100px

	&__title
		
.discover_app
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center

	
	&__item
		// border: 1px solid

		width: 406px
		margin-left: 90px
		box-sizing: border-box

		&_head
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-content: center
			align-items: center

		&_body
			margin-bottom: 36px

	&__list
		&_item
			font-family: 'Avenir-Light'
			font-size: 18px
			line-height: 40px

			padding-left: 16px

			position: relative

			&::before
				content: ""
				display: block
				position: absolute
				
				left: 0
				top: 50%

				transform: translateY(-50%)

				height: 5px
				width: 6px

				background-color: #fff

				border-radius: 50%


	&__social
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

	&__link:first-child
		margin-right: 24px

	&__link
		height: 50px
		width: 169px
		display: block


		&_img
			max-width: 100%
			height: auto     
			display: block

	// &__logo

	&__stars
		width: 79px
		margin-bottom: 15px

	&__img
		display: block

		width: 80px
		height: 80px
		padding-top: 20px
		padding-right: 20px
		padding-left: 0px
		padding-bottom: 30px

		&_size2
			width: 127px
			height: 127px
			padding: 0
			margin-left: -23px
			padding-bottom: 0px


	&__title 
		font-size: 27px
		font-family: 'Avenir-Medium'

		margin-bottom: 5px

	
