section.about_descript GeoZilla is a family safety platform striving to make families worldwide safer.
section.about
	.about__bg
		img(src="../../../../static/img/other/2.png", alt="").about__bg_mobile.about__bg_base
		img(src="../../../../static/img/other/1.png", alt="").about__bg_tablet.about__bg_base
		//- img(src="../../../../static/img/other/3.png", alt="").about__bg_desc.about__bg_base
	.container_fluid
		.about__platform.platform
			.platform__left.platform__side
				img(src="../../../../static/img/icon/GeoZillaIcon.png", alt="platform").platform__icon
				.platform__text With over 4 million downloads, backed by 5 years of R&D, and a team of 20 skilled professionals, we are working to make millions of families worldwide safer.
			.platform__right.platform__side
				img(src="../../../../static/img/other/About-Us-iPhone-Screen.png", alt="phone").platform__phone
				//- img(src="../../../../static/img/other/About Us iPhone Shadow.png", alt="phoneshadow").platform__phone_shadow
	.about__decore_point.decore_point
		//- img(src="../../../../static/img/other/about_bg_main_top.png", alt="bg").decore__img_bg.decore__img_bg1
		img(src="../../../../static/img/other/4.png", alt="bg").decore__img_bg.decore__img_bg1
		.text_p
			span.decore_point.decore_point_one
				span.decore_point__number 20
				span.decore_point__text Employees
			span.decore_point.decore_point_two
				span.decore_point__number 4
				span.decore_point__text + Million Users
			span.decore_point.decore_point_three
				span.decore_point__number 11
				span.decore_point__text Languages
	include ../team/team
	include ../about_gallery/gallery
	include ../see_position/see_position

	



