section.about_descript GeoZilla is a family safety platform striving to make families worldwide safer.
section.about
	.about__bg
		//- img(src="../../../../static/img/picture/bg_platform_main.png", alt="")
	.container_fluid
		.about__platform.platform
			.platform__left.platform__side
				img(src="../../../../static/img/icon/GeoZillaIcon.png", alt="platform").platform__icon
				.platform__text With over 4 million downloads, backed by 5 years of R&D, and a team of 20 skilled professionals, we are working to make millions of families worldwide safer.
			.platform__right.platform__side
				img(src="../../../../static/img/picture/About-Us-iPhone-Screen.png", alt="phone").platform__phone
	.about__decore_point.decore_point
		img(src="../../../../static/img/picture/bg_top.png", alt="").decore__img_bg.decore__img_bg1
		.text_p
			span.decore_point.decore_point_one
				span.decore_point__number 20
				span.decore_point__text Employees
			span.decore_point.decore_point_two
				span.decore_point__number 4
				span.decore_point__text + Million Users
			span.decore_point.decore_point_three
				span.decore_point__number 11
				span.decore_point__text Languages
	include ../team/team
	include ../about_gallery/gallery
	include ../see_position/see_position

	



