section.technology_top
	.container_fluid
		h1.technology_top__title.title_section Our Vision
		p.technology_top__descript To improve family welfare predicting potential problems and detecting deviations from the normal patterns. 
		.technology_top__content
			.technology_top__side.technology_top__left
				h3.technology_top__side_title Technology sculpted by years of R&D
				p.technology_top__side_text Launched in 2015, GeoZilla is sculpted by years of research and development. 
					b.text_bold Powered by a unique combination of Geolocation technologies, IoT solutions and Machine Learning 
					| we strive to ensure family safety on multiple levels. Our apps are used by families, friends and couples, bringing peace of mind to 1,000,000+ of homes worldwide.
			.technology_top__side.technology_top__right
				img(src="../../../../static/img/other/Change This [2].png", alt="phone").technology_top__side_img
