section.section_simple.section_trackimo
	.container_fluid
		.section_trackimo__decore
			img(src="../../../../static/img/other/trackimo.png", alt="trackimo").section_trackimo__decore_img.section_trackimo__decore_img_one
		.section_simple__content.section_trackimo__content
			.section_simple__content_right.section_trackimo__right
				.section_simple__content_head
					h2.section_trackimo__title.title_section.section_simple__title Trackimo
				.section_simple__content_body
					p.section_trackimo__text.section_simple__text Locate your children, elderly, pets and things with this tiny GPS tracker. Trackimo uses latest technology to offer state of the art connectivity and location accuracy.

				.section_simple__content_footer.section_trackimo__content_footer
					.section_trackimo__btn
						a(href="#").btn.btn_transp.section_trackimo__btn coming soon
							.btn__hover
							.btn__active


