section.section_simple.section_trackimo
	.container_fluid
		.section_trackimo__decore
			img(src="../../../../static/img/other/fitbit-charge-2.png", alt="Fitbit").section_trackimo__decore_img.section_trackimo__decore_img_one
		.section_simple__content.section_trackimo__content
			.section_simple__content_right.section_trackimo__right
				.section_simple__content_head
					h2.section_trackimo__title.title_section.section_simple__title Fitbit
				.section_simple__content_body
					p.section_trackimo__text.section_simple__text Use cutting edge tech to monitor your family’s health and fitness with Fitbit’s heart rate and activity tracker. Take preventive measures if you notice your loved one isn’t active enough. Finally, be alerted if their heart rate goes up, so that you can take immediate action.


				.section_simple__content_footer.section_trackimo__content_footer
					.section_trackimo__btn
						a(href="/plans.html" onclick="gtag('config', 'Fitbit_Tapped');").btn.btn_transp.section_trackimo__btn coming soon
							.btn__hover
							.btn__active


