section.index_main
	.bg
		img(src="../../../../static/img/picture/GeoZilla-Family-Friends-GPS-Locator-All.jpg", alt="GeoZilla Family & Friends GPS Locator").index_main__bg
	.container_fluid
		h1.index_main__title Keep loved ones safe
		p.index_main__text Trusted by 1M+ families worldwide
		.index_main__btn
			a(href="/plans.html", onclick="gtag('config', 'Start_Trial_Header');" ).btn start free trial
				.btn__hover
				.btn__active
