.pop_up
	.pop_up__bg

		.pop_up_can_help.pop_up__wr.send_request
			a(href="#").pop_up__toggle.cross
			.pop_up__head
				h6.pop_up__title How can we help you?
				p.pop_up__descript Please describe your issue in details. 
			.pop_up__body
				form( action="#" method="get" enctype="multipart/form-data").pop_up__form#ajax-contact-form

					.pop_up__input_wr
						span.pop_up__name_input Your e-mail address:
							span.pop_up__name_input_required *
						input(type="e-mail" name="email" placeholder="Type your e-mail here").pop_up__field
						span.pop_up__warm_text.pop_up__warm_text_valid Please use a valid email.
						span.pop_up__warm_text.pop_up__warm_text_chose Please add your e-mail address so we can help you.



					.pop_up__input_wr.select__wr
						span.pop_up__name_input What can we help you with?
							span.pop_up__name_input_required *
						ul.select
							li
								input(type="radio" name="problems").select__close#awes-close.default
								span.select__label.select__label_placeholder Select your option here
							li.select__items
								input(type="radio" name="problems").select__expand#awes-opener
								label(for="awes-close").select__closeLabel
								ul.select__options
									li.select__option
										input(type="radio" name="problems" value="How it works").select__input#sel4
										label(for="sel4").select__label How it works
									li.select__option
										input(type="radio" name="problems" value="Improvement suggestion").select__input#sel5
										label(for="sel5").select__label Improvement suggestion
									li.select__option
										input(type="radio" name="problems" value="Subscriptions").select__input#sel6
										label(for="sel6").select__label Subscriptions	
									li.select__option
										input(type="radio" name="problems" value="Report a bug").select__input#sel7
										label(for="sel7").select__label Report a bug
									li.select__option
										input(type="radio" name="problems" value="Business Inquiry").select__input#sel8
										label(for="sel8").select__label Business Inquiry
								label(for="awes-opener").select__expandLabel
						span.pop_up__warm_text.pop_up__warm_text_chose  Please choose your kind of issue.

					.pop_up__input_wr.pop_up__input_wr_area
						span.pop_up__name_input
							span.pop_up__name_input_hide_wr
								span.pop_up__name_input_hide
								span.pop_up__name_input_hide2  Your message:
							span.pop_up__name_input_required *
						//- span#chars 20
						span#chars2.pop_up__warm_counter 00
						.ars
							.bgs
								//- span.pop_up__name_input Your message:
							textarea(data-mcs-theme="dark", name="message", cols="30", minlength="15", maxlength="700",  placeholder="Please include all the details you can, so we can best assist you. We will respond as soon as possible.").pop_up__field.pop_up__field_area#message
						span.pop_up__warm_text.pop_up__warm_text_chose  Please add a message describing your issue so we can help you.


					.pop_up__input_wr.select__wr
						span.pop_up__name_input What kind of device are you using GeoZilla on?
							span.pop_up__name_input_required *
						ul.select
							li
								input(type="radio" name="device").select__close#awes-close2.default
								span.select__label.select__label_placeholder Select your option here
							li.select__items
								input(type="radio" name="device").select__expand#awes-opener2
								label(for="awes-close2").select__closeLabel
								ul.select__options
									li.select__option
										input(type="radio" name="device" value="deviceIos").select__input#sel41
										label(for="sel41").select__label iOS
									li.select__option
										input(type="radio" name="device" value="deviceAndroid").select__input#sel51
										label(for="sel51").select__label Android
									li.select__option
										input(type="radio" name="device" value="deviceDevices").select__input#sel61
										label(for="sel61").select__label Multiple Devices
									li.select__option
										input(type="radio" name="device" value="deviceNone").select__input#sel61
										label(for="sel61").select__label None
								label(for="awes-opener2").select__expandLabel
						span.pop_up__warm_text.pop_up__warm_text_chose  Please choose your kind of device.

					.pop_up__input_wr
						span.pop_up__name_input Your user ID or login email:
						input(type="text" name="id" placeholder="Help us identify you by your User ID, or login email").pop_up__field
						span.pop_up__warm_text.pop_up__warm_text_valid Invalid e-mail or ID
						span.pop_up__warm_text.pop_up__warm_text_chose Please use a valid user ID or login email.

					.pop_up__input_wr.pop_up__input_wr_file
						span.pop_up__name_input Attach a file to illustrate your issue:
						label(for="FileAttachment").pop_up__file_label
							input(type="file"  name="userfile").pop_up__field.pop_up__field_file#FileAttachment
							input(type="text" readonly placeholder="").pop_up__file_name#fileuploadurl
							span.pop_up__field.pop_up__field_file Attach File
							span.pop_up__warm_text.pop_up__warm_text_chose attached file name here

					.pop_up__input_wr.pop_up__input_wr_btn
						button(type="submit" name="submit").btn.pop_up__input_btn   send request
							.btn__hover
							.btn__active
							

			.pop_up__footer
				p.pop_up__text.pop_up__text_required 
					span.pop_up__name_input_required * 
					span.pop_up__text - required fields 
				p.pop_up__text.pop_up__footer_text Like mailers more?
				p.pop_up__text.pop_up__footer_text Contact us via
					a(href="mailto:info@geozilla.com").pop_up__link info@geozilla.com.


			

				
					
