section.about_top
	//- .bg
	//- 	img(src="../../../../static/img/picture/GeoZilla-Family-Friends-GPS-Locator-All.jpg", alt="GeoZilla Family & Friends GPS Locator").about_top__bg
	.about_top__wr
		.container_fluid
			h1.about_top__title Welcome to GeoZilla