head
	block title
	title #{title} 
	script(async src="https://www.googletagmanager.com/gtag/js?id=61137268")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '61137268');
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="theme-color" content="#03e2ae")
