head
	block title
	title #{title} 
	script(async src="https://www.googletagmanager.com/gtag/js?id=61137268")
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '61137268');

	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="theme-color" content="#03e2ae")
	meta(property="og:image" content="https://geozilla.com/static/img/picture/Geo-Meta.jpg" )

	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@GeoZillaApp") 
	meta(name="twitter:creator" content="@GeoZillaApp") 
	meta(property="fb:app_id" content="867831416584987")  
	meta(property="og:type" content="website")  
	meta(property="og:url" content="https://geozilla.com/") 
	meta(property="og:title" content="GeoZilla Family Safety App") 
	meta(property="og:description" content="GeoZilla is your family safety app. Locate loved ones on a map and keep each other safe even when miles apart.") 
