head
	block title
	title #{title} 
	meta(charset="UTF-8")
	//- meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	//- meta(http-equiv="X-UA-Compatible", content="ie=edge")
	//- meta(name="robots", content="noindex, nofollow")
	meta(name="description" content="GeoZilla is the unique combination of AI, geolocation technologies and hardware solutions to keep your family safe")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="theme-color" content="#03e2ae")
	meta(name="robots", content="noindex, nofollow")
	meta(name="yandex" content="none")
