section.about_gallery
	.container_fluid
		.about_gallery__content
			.about_gallery__left
				h2.about_gallery__title GeoZilla Family
				p.about_gallery__text We are a team of passionate entrepreneurs, engineers and designers excited about the idea of building a connected family platform powered by 
					b.text_bold smart 
					| algorithms.
				p.about_gallery__text  Among some of the strengths of our team are its endless drive to make families across the globe safer, as well as its great synergy.
			.about_gallery__right
				.about_gallery__right_wr
					img(src="../../../../static/img/About Us Photos/Teamphoto1.jpg", alt="").about_gallery__right_img.about_gallery__right_img_base
				div.about_gallery__right_mob
					.about_gallery__right_mob_wr
						img(src="../../../../static/img/About Us Photos/Teamphoto2.jpg", alt="").about_gallery__right_img
					.about_gallery__right_mob_wr
						img(src="../../../../static/img/About Us Photos/Teamphoto3.jpg", alt="").about_gallery__right_img
			