section.contact
	.contact__main
		.container_fluid
			h1.contact__title Contact Us
	.contact__content
		.container_fluid
			.contact__text We can be reached via email and a support channel. To find the answers you need as quickly as possible, select one of the options below. 
			.contact__box
				.contact_item
					.contact_item__head
						img(src="../../../../static/img/icon/message.svg", alt="").contact_item__img
					p.contact_item__text For families using GeoZilla, a partnership inquiry or anyone with a general contact request:
					.contact_item__footer
						a(href="mailto:info@geozilla.com").contact_item__link info@geozilla.com
				.contact_item.contact_item_top
					.contact_item__head
						img(src="../../../../static/img/icon/settings.svg", alt="").contact_item__img
					p.contact_item__text For technical support and FAQs on using GeoZilla:
					.contact_item__footer
						a(href="#").contact_item__link GeoZilla Support
						a(href="#").contact_item__link Frequently Asked Questions
				.contact_item
					.contact_item__head
						img(src="../../../../static/img/icon/megaphone.svg", alt="").contact_item__img
					p.contact_item__text For media inquiries and to contact our press team:
					.contact_item__footer
						a(href="mailto:press@geozilla.com").contact_item__link press@geozilla.com