section.section_simple.section_pets
	.bg
		img(src="../../../../static/img/picture/GeoZilla-Dogs-Pets-GPS.jpg", alt="GeoZilla Pets GPS Safety Tracker for Dogs and Cats").section_pets__bg
		img(src="../../../../static//img/other/Dimming Layer Wide.png", alt="wid").section_child__bg.section_pets__dimming
	.container_fluid
		.section_simple__content.section_pets__content
			.section_simple__content_right.section_pets__left
				.section_simple__content_head
					h2.section_pets__title.title_section.section_simple__title Keep your pets safe and healthy
				.section_simple__content_body
					p.section_pets__text.section_simple__text  With a demanding job, family and a million important chores to attend to it may be difficult to keep up with your pet’s wellbeing. Pair GeoZilla with a pet tracker to know if it escapes home, where it has been that day, and how active it was.
				.section_simple__content_footer.section_pets__content_footer
					.section_loc__btn
						a(href="#").btn.btn_transp coming soon