@font-face {
  font-family: 'Avenir-Black';
  src: url('/static/fonts/Avenir/Avenir-Black.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('/static/fonts/Avenir/Avenir-Light.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('/static/fonts/Avenir/Avenir-Medium.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/LatoLight.ttf');
  font-weight: bold;
  font-style: normal;
}
