body {
  color: #000;
  // background-color: $c-bg;
  // letter-spacing: -0.3px;
  padding: 0;
  margin: 0;
  font-family: 'Avenir-Medium';
}

a, button {
  cursor: pointer;
  transition: $transition;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

svg.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

img, svg {
  user-select: none;
}

.container_fluid {
  max-width: 1170px;
  margin: 0 auto;
  
  padding-left: 17px;
  padding-right: 17px;

  display: block;
  position: relative;

  outline: 1px solid red;

  box-sizing: border-box;

  @media(max-width:1024px) {
    max-width: 720px;

    padding-left: 15px;
    padding-right: 15px;
  }

  @media(max-width:768px) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 290px;
    box-sizing: initial;
  }
}

.container {
  max-width: 1140px;

  display: block;
  position: relative;

  box-sizing: border-box;
}

.title_section {
  font-size: 40px;
  font-family: 'Avenir-Medium';

  text-align: center;

  padding-top: 100px;
  padding-bottom: 52px;

  @media(max-width:1024px) {
    font-size: 28px;

    padding-top: 65px;
    padding-bottom: 30px;
  }
}

// @media(max-width:1439px)
// @media(max-width:1023px)
// @media(max-width:767px)

.hover_text, .nav_list__link {
  &:hover {
    text-shadow: 1px 1px 16px rgba(255, 2555, 255, .5);
  }
  &:active {
    text-shadow: initial;
    opacity: 0.7;
  }
}