section.comments
	.container_fluid
		h2.comments__title.title_section Why Families love GeoZilla
		.comments__stars
			p.comments__stars_text Over 30,000+ 5-star reviews
			img(src="../../../../static/img/icon/stars.png", alt="st").comments__stars_img
	.comments_wr
		.comments__left
			.comments__item.coment
				.coment_body
					p.coment__text Great app. Great way to keep tabs on the kids.
				.coment_footer
					p.coment__name Dini2776
					.coment__logo
						img(src="../../../../static/img/icon/Apple-logo-grey-880x625.png", alt="com_l").coment__img

		.comments__right
			.comments__item


