section.comments
	.container_fluid
		h2.comments__title.title_section Why Families love GeoZilla
		.comments__stars
			p.comments__stars_text Over 30,000+ 5-star reviews
			img(src="../../../../static/img/icon/stars.png", alt="st").comments__stars_img
		.comments__wr
			.comments__left
				.comments__item.coment
					.coment__body
						p.coment__text Great app. Great way to keep tabs on the kids.
					.coment__footer
						p.coment__name Dini2776
						.coment__logo
							img(src="../../../../static/img/icon/Apple-logo-grey-880x625.png", alt="com_l").coment__img
				.comments__item.coment
					.coment__body
						p.coment__text I highly recommend! I haven't found a better one. No need. This is the best.
					.coment__footer
						p.coment__name Huo_1212
						.coment__logo
							img(src="../../../../static/img/icon/Apple-logo-grey-880x625.png", alt="com_l").coment__img
				.comments__item.coment
					.coment__body
						p.coment__text Love it! Recommend to anyone wanting to keep their loved ones safe!
					.coment__footer
						p.coment__name OllieDink23
						.coment__logo
							img(src="../../../../static/img/icon/Apple-logo-grey-880x625.png", alt="com_l").coment__img
			.comments__right
				.comments__item.coment
					.coment__body
						p.coment__text Love it... Works beautifully, and I keep tracking my family and friends... Best app ever... Thank youuuuu... And the best part of all... It's FREEE
					.coment__footer
						p.coment__name Ann Taylor
						.coment__logo
							img(src="../../../../static/img/icon/Apple-logo-grey-880x625.png", alt="com_l").coment__img
				.comments__item.coment
					.coment__body
						p.coment__text It works great! I tried several GPS family tracking apps and found this one worked great. Very pleased with the app.
					.coment__footer
						p.coment__name Paulina Darnell
						.coment__logo
							img(src="../../../../static/img/icon/Apple-logo-grey-880x625.png", alt="com_l").coment__img

		.comments__btn
			a(href="/plans.html" onclick="gtag('config', 'Start_Trial_Bottom_Main');").btn start free trial
				.btn__hover
				.btn__active




