extends ../layouts/pages
block append head
	block title
		- var title='Contact Us'; // Page title

block content
	include ../components/header/header_white
	include ../components/contact/contact
	include ../components/footer/footer
