extends ../layouts/pages
block append head
	block title
		- var title='GeoZilla – Contact Us'; // Page title
	meta(name="description" content="Find your answer in our FAQ library, or tell us how we can help.")
block content
	include ../components/header/header_white
	include ../components/contact/contact
	include ../components/footer/footer
