extends ../layouts/pages
block append head
	block title
		- var title='Home'; // Page title

block content
	include ../components/header/header
	//- include ../components/mission/mission
	//- include ../components/apps/apps
	//- include ../components/premium/premium
	//- include ../components/section_loc/section_location
	//- include ../components/section_child/section_child
	//- include ../components/section_elderly/section_elderly
	//- include ../components/section_pets/section_pets
	//- include ../components/comments/comments
	//- include ../components/footer/footer
