extends ../layouts/pages
block append head
	block title
		- var title='GeoZilla – Unlock Your Free Trial'; // Page title
	meta(name="description" content="Ensure your family's peace of mind with a quartery, or annual subscription to unlock the full power of GeoZilla.")
block content
	include ../components/pricing/pricing
	include ../components/footer/footer
	
