@import "config/variables";
// @import "config/mixins";
@import "helper/fonts";
// @import "helper/form";
// @import "helper/anim";
@import "helper/global";

@import "../styles/components/header/header.sass";
@import "../styles/components/btn/btn.sass";
// @import "../styles/components/btn/btn_small.sass";
@import "../styles/components/mission/mission.sass";
@import "../styles/components/apps/apps.sass";
@import "../styles/components/premium/premium.sass";
@import "../styles/components/section_simple/section_simple.sass";
@import "../styles/components/comments/comments";
@import "../styles/components/footer/footer";
@import "../styles/components/pricing/pricing";
