.section_simple
	padding-bottom: 128px

	position: relative

	.container_fluid
		padding-left: 84px
		padding-right: 84px

	&__content

		&_head
			margin-bottom: 25px

		&_body
			margin-bottom: 52px

		&_footer
			// 


	&__title
		font-size: 40px
		line-height: 52px

		font-family: 'Avenir-Medium'

		color: #313131 
 
		max-width: 360px
		padding-bottom: 0

	&__text
		font-size: 22px
		font-family: 'Avenir-Light'

		color: #313131 





.section_loc
	background: url('/static/img/picture/maps_b-copy-3.png') no-repeat top right / cover

	overflow: hidden

	&__title
		text-align: left

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end

	&__right
		max-width: 421px	

	&__decore
	
		&_img
			position: absolute
			display: block

			width: auto
			height: auto

			&_one
				top: -103px
				left: 27%
				width: 804px
		


.section_child
	background: url('/static/img/picture/adorable-boy-child-1688253.png') no-repeat right top / cover
	
	

	&__title
		text-align: left

		padding-top: 152px

		color: #fff

	&__text
		color: #fff

	&__left
		max-width: 421px


.section_elderly
	background: url('/static/img/picture/adult-aged-bench-1652340.png') no-repeat left top / cover
	
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end

	&__title
		text-align: left

		padding-top: 152px
		max-width: 448px

		color: #fff

	&__text
		color: #fff

	&__right
		max-width: 556px

.section_pets
	background: url('/static/img/picture/animal-dog-golden-retriever-9080.png') no-repeat left top / cover

	&__content
		// 

	&__title
		text-align: left

		padding-top: 152px
		max-width: 308px

		color: #fff

	&__text
		color: #fff

	&__left
		max-width: 556px