.section_simple
	padding-bottom: 128px

	position: relative

	@media(max-width:1024px)
		padding-bottom: 70px

	&__content

		&_head
			margin-bottom: 25px

			@media(max-width:767px)
				padding-top: 170px
				margin-top: 0

		&_footer
			margin-top: 50px

			@media(max-width:1024px)
				margin-top: 40px

			@media(max-width:767px)
				margin-top: 30px




	&__title
		font-size: 40px
		line-height: 52px

		font-family: 'Avenir-Medium'

		color: #313131 
 
		max-width: 360px
		padding-bottom: 0

		@media(max-width:1024px)
			font-size: 28px
			line-height: 36px

	&__text
		font-size: 22px
		font-family: 'Avenir-Light'
		line-height: 32px

		color: #313131 

		@media(max-width:1024px)
			font-size: 14px
			line-height: 22px


.section_loc
	// background-image: url('/static/img/picture/maps_b-copy-3.png')
	background-repeat-x: repeat
	background-repeat-y: no-repeat
	background-repeat: no-repeat
	background-position-x: 140%

	overflow: hidden

	position: relative
	z-index: 3

	&::after
		// content: ""

		display: block
		position: absolute

		top: 0
		right: 0
		height: 100%
		width: 80%

		z-index: -1

		background-image: linear-gradient(to left,#fff 60%,rgba(0, 0, 0, .01) 91.4%)

		@media(max-width:767px)
			width: 100%
			height: 70%
			top: initial
			bottom: 0

			background-image: linear-gradient(to top,#fff 60%,rgba(0, 0, 0, .01) 91.4%)

	@media(max-width:767px)
		background-position: center top
		background-size: 164%
		background-size: auto

	.container_fluid
		z-index: 5

	&__home
		position: absolute

		left: 13.5%
		top: 4%

		width: 120px
		height: 125px

	.bg
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		&::before
			content: ""

			display: block
			position: absolute

			top: 0
			right: 0
			height: 100%
			width: 80%

			z-index: 1

			background-image: linear-gradient(to left,#fff 60%,rgba(0, 0, 0, .01) 91.4%)
			
			@media(max-width:767px)
				width: 100%
				height: 70%
				top: initial
				bottom: 0

				background-image: linear-gradient(to top,#fff 60%,rgba(0, 0, 0, .01) 91.4%)
	&__bg
		position: absolute
		top: 0
		left: 0
		width: auto
		// height: 100%
		// min-height: 660px
		height: 100%
		// object-fit: cover
		z-index: 0

		left: 50%
		transform: translate(-70%, 0)

		@media(max-width:1440px)
			// width: 100%
			// height: auto
			// object-fit: cover
			// min-height: 720px

			left: 50%
			// transform: translate(-80%, 0)

		@media(max-width:1024px)
			min-height: initial
			// transform: translate(-50%, 0)

			// width: 100%
			// height: 100%

		@media(max-width:767px)
			width: auto
			min-height: initial
			height: 100%
			left: 50%
			transform: translate(-50%, 0)


	&__title
		text-align: left

		@media(max-width:1024px)
			max-width: 232px
			padding-top: 150px

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end

	&__right
		max-width: 460px
		margin-right: 8%	

		@media(max-width:1024px)
			max-width: 320px
			margin-right: 0%


	&__decore
	
		&_img
			position: absolute
			display: block

			width: auto
			height: auto

			&_one
				top: -36%
				left: 13%
				max-width: 751px

				@media(max-width:1100px)
					left: 5%

				@media(max-width:1024px)
					top: -23%
					left: 14%
					max-width: 498px

				@media(max-width:767px)
					max-width: 341px
					top: -14%
					left: 47%

		


.section_child
	position: relative
	z-index: 3

	overflow: hidden

	&::after
		// content: ""

		display: block
		position: absolute

		top: 0
		left: 0
		height: 100%
		width: 70%

		z-index: -1

		background-image: linear-gradient(to right,rgb(79, 95, 111) 20%,rgba(79, 95, 111, .01) 71.4%)

	// background: url('/static/img/picture/adorable-boy-child-1688253.png') no-repeat right top / cover

	@media(max-width:767px)
		padding-bottom: 50px
		background-position: 72%

	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		// height: 100%
		// min-height: 660px
		width: 100%
		height: auto
		object-fit: cover

		@media(max-width:1440px)
			width: auto
			height: 100%
			object-fit: cover

			left: 50%
			transform: translate(-50%, 0)

		@media(max-width:767px)
			width: auto
			// left: -30%
			left: 50%
			transform: translate(-63%, 0)

	&__dimming
		width: 100%
		// width: 80%
		left: 0
		transform: none

	&__title
		text-align: left

		padding-top: 140px

		color: #fff

		@media(max-width:1024px)
			padding-top: 180px
			max-width: 250px
			margin-bottom: 10px

		

	&__content_head
		@media(max-width:1024px)
			margin-bottom: 15px

		@media(max-width:767px)
			padding-top: 25px

	&__text
		color: #fff

	&__left
		max-width: 530px
		margin-left: 6%

		@media(max-width:1024px)
			margin-left: 9%
			max-width: 352px

		@media(max-width:767px)
			margin-left: 0

	&__content_footer
		@media(max-width:1024px)
			margin-top: 40px

		@media(max-width:767px)
			margin-top: 30px



.section_elderly
	background-image: url('/static/img/picture/adult-aged-bench-1652340.jpg')
	background-repeat: no-repeat
	background-size: cover

	position: relative
	z-index: 3

	overflow: hidden

	&::after
		// content: ""

		display: block
		position: absolute

		top: 0
		right: 0
		height: 100%
		width: 60%

		z-index: 1

		background-image: linear-gradient(to left,rgba(0, 0, 0, .9) 0%,rgba(0, 0, 0, .01) 71.4%)

	@media(max-width:1024px)
		padding-bottom: 58px

	@media (max-width: 767px)
		padding-bottom: 52px
		background-position: 39%

	.container_fluid
		z-index: 5

	.bg
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		&::before
			// content: ""

			display: block
			position: absolute

			top: 0
			right: 0
			height: 100%
			width: 60%

			z-index: 1

			background-image: linear-gradient(to left,rgba(0, 0, 0, .9) 0%,rgba(0, 0, 0, .01) 71.4%)

	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		// height: 100%
		// min-height: 660px
		width: 100%
		height: auto
		object-fit: cover
		z-index: 0

		@media(max-width:1440px)
			width: 100%
			height: auto
			object-fit: cover
			min-height: 720px

			left: 50%
			transform: translate(-50%, 0)

		@media(max-width:1024px)
			min-height: initial

		@media(max-width:767px)
			width: auto
			min-height: initial
			height: 100%
			left: 50%
			transform: translate(-50%, 0)

	&__dimming
		width: 100%
		// width: 80%
		// height: 100%
		left: 0
		transform: scaleX(-1)
	
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end

	&__content_footer
		@media(max-width:1024px)
			margin-top: 40px

		@media (max-width: 767px)
			margin-top: 30px

	&__title
		text-align: left

		padding-top: 165px
		max-width: 448px

		color: #fff

		@media(max-width:1024px)
			padding-top: 153px

		@media (max-width: 767px)
			padding-top: 0

	&__text
		color: #fff

	&__right
		max-width: 556px

		@media(max-width:1024px)
			max-width: 306px

.section_pets
	// background: url('/static/img/picture/animal-dog-golden-retriever-9080.png') no-repeat left top / cover

	position: relative
	z-index: 3

	&::after
		// content: ""

		display: block
		position: absolute

		top: 0
		left: 0
		height: 100%
		width: 60%

		z-index: -1

		background-image: linear-gradient(to right,#1e3217 40%,rgba(29, 48, 22, .1) 91.4%)

	@media(max-width:1024px)
		background-position-x: right


	@media (max-width: 767px)
		padding-bottom: 47px
		background-position: 72%


	.container_fluid
		z-index: 5

	.bg
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		overflow: hidden
		&::before
			// content: ""

			display: block
			position: absolute

			top: 0
			left: 0
			height: 100%
			width: 60%

			z-index: 1

			background-image: linear-gradient(to right,#1e3217 40%,rgba(29, 48, 22, .1) 91.4%)
			
			@media(max-width:767px)
				width: 46%

	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		// height: 100%
		// min-height: 660px
		width: 100%
		height: auto
		object-fit: cover
		z-index: 0

		@media(max-width:1440px)
			width: 100%
			height: 100%
			object-fit: cover
			min-height: 720px

			left: 50%
			transform: translate(-50%, 0)

		@media(max-width:1024px)
			min-height: initial

		@media(max-width:767px)
			width: auto
			min-height: initial
			height: 100%
			left: 50%
			transform: translate(-65%, 0)

	&__dimming
		width: 100%
		// width: 80%
		// height: 100%
		left: 0
		transform: none

	&__content_footer
		@media(max-width:1024px)
			margin-top: 40px

		@media (max-width: 767px)
			margin-top: 30px

	&__title
		text-align: left

		padding-top: 146px
		max-width: 308px

		color: #fff
		
		@media(max-width:1024px)
			padding-top: 156px

		@media (max-width: 767px)
			padding-top: 0



	&__text
		color: #fff

	&__left
		max-width: 588px
		margin-left: 6%

		@media(max-width:1024px)
			max-width: 358px
			margin-left: 9%

		@media (max-width: 767px)
			margin-left: 0













.section_watch
	padding-bottom: 170px

	@media(max-width:1024px)
		padding-bottom: 110px

	.container_fluid
		padding-left: 114px
		padding-right: 114px

		// outline: 1px solid

		@media(max-width:1024px)
			padding-left: 14px
			padding-right: 14px

	overflow: hidden

	position: relative
	z-index: 3


	@media(max-width:767px)
		background-position: center top
		background-size: 164%
		background-size: auto


	
	&__title
		text-align: left
		font-size: 49px
		padding-top: 185px
		padding-bottom: 5px

		@media(max-width:1024px)
			font-size: 38px
			line-height: 42px

			max-width: 232px
			padding-top: 107px
			padding-bottom: 10px

		@media(max-width:767px)
			padding-top: 262px

	&__text
		width: 85%

		font-size: 18px

		@media(max-width:1024px)
			font-size: 12px
			line-height: 18px

			width: 80%

	

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
		flex-direction: column-reverse

		&_footer
			margin-top: 30px


	&__right
		max-width: 460px
		margin-right: 8%	

		@media(max-width:1024px)
			max-width: 320px
			margin-right: 0%
			padding-left: 33px

		@media(max-width:767px)
			padding: 0

	&__decore
	
		&_img
			position: absolute
			display: block

			width: auto
			height: auto

			&_one
				top: -34%
				right: -13%
				max-width: 724px

				@media(max-width:1100px)
					right: -20%

				@media(max-width:1060px)
					right: -25%

				@media(max-width:1024px)
					max-width: 520px
					top: -39%
					right: -21%

				@media(max-width:870px)
					// right: 0%

				@media(max-width:767px)
					width: 339px
					top: -12%
					left: 43%





.section_trackimo
	background-color: #f6f6f6

	overflow: hidden

	position: relative
	z-index: 3

	padding-bottom: 270px

	@media(max-width:1024px)
		padding-bottom: 160px

	@media(max-width:767px)
		background-position: center top
		background-size: 164%
		background-size: auto
	
	&__btn
		color: #000
		border-color: #000

	
	&__title
		text-align: left
		font-size: 49px
		padding-top: 237px
		padding-bottom: 0px

		@media(max-width:1024px)
			font-size: 38px
			line-height: 42px

			max-width: 232px
			padding-top: 140px
			padding-bottom: 0px

		@media(max-width:767px)
			padding-top: 264px

	&__text
		font-size: 18px
		line-height: 24px

		width: 80%
		padding-bottom: 10px

		@media(max-width:1024px)
			font-size: 12px
			line-height: 18px

			width: 80%
			padding-bottom: 5px

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end

		&_footer
			margin-top: 30px

	&__right
		max-width: 488px
		margin-right: 0%	

		@media(max-width:1024px)
			max-width: 310px
			margin-right: 0%


	&__decore
	
		&_img
			position: absolute
			display: block

			width: auto
			height: auto
			// max-width: 367px

			&_one
				top: 117px
				left: -7%
				left: 0%
				// width: 100%
				max-width: 640px

				@media(max-width:1100px)
					// left: 5%

				@media(max-width:1024px)
					width: 439px
					top: 20%
					// left: -7%

				@media(max-width:767px)
					max-width: 520px
					top: 5%
					left: -40%

				@media(max-width:360px)
					left: -35%