section.section_simple.section_watch#watch
	.container_fluid
		.section_watch__decore
			img(src="../../../../static/img/other/GeoZilla-Family-GPS-Locator-Apple-Watch.png", alt="GeoZilla Family GPS Locator Apple Watch Mom Arrived Home").section_watch__decore_img.section_watch__decore_img_one
		.section_simple__content.section_watch__content
			.section_simple__content_right.section_watch__right
				.section_simple__content_head
					h2.section_watch__title.title_section.section_simple__title Apple Watch
				.section_simple__content_body
					p.section_watch__text.section_simple__text Pair your Apple Watch with GeoZilla to let your family monitor your wellbeing and be informed if you need help. Even if you leave home without a phone, your family will know you are safe. 

				.section_simple__content_footer.section_watch__content_footer
					.section_watch__btn
						a(href="#").btn Download App & Pair
							.btn__hover
							.btn__active


