section.technology_middle
	.container_fluid

		.technology_middle__item
			.container_fluid
				.technology_middle__content
					.technology_middle__item_left.technology_middle__item_side
						.p-item__picture_wr
							img(src="../../../../static/img/other/technology_img1.png", alt="GeoZilla Family & Friends GPS Locator Location History").technology_middle__img.technology_middle__img_first
					.technology_middle__item_right.technology_middle__item_side
						p.technology_middle__title Battery-friendly location tracking
						p.technology_middle__text GeoZilla has the lowest battery consumption level compared to other solutions. We know battery life is important, and we will keep your device running for a long time. Use of Significant Location Change (SLC) ensures this app is in sleep mode until you have significantly moved to keep battery life from draining.
		
		.technology_middle__item
			.container_fluid
				.technology_middle__content.technology_middle__item_reverse
					.technology_middle__item_left.technology_middle__item_side.technology_middle__item_reverse_left
						.p-item__picture_wr
							img(src="../../../../static/img/other/GeoZilla-Family-GPS-Locator-All.png", alt="GeoZilla Family & Friends GPS Locator Screenshots").technology_middle__img.technology_middle__item_reverse_img.technology_middle__img_secend
					.technology_middle__item_right.technology_middle__item_side.technology_middle__item_reverse_right
						p.technology_middle__title.technology_middle__item_reverse_title AI-driven analysis with behavior deviation alerts
						p.technology_middle__text GeoZilla employs real time predictive algorithms, that analyze aggregated data and identify patterns in user behavior. Schedule, route and speed related data are used to find disturbing deviations from  the norm to notify decision makers.

		.technology_middle__item.technology_middle__item_three
			.container_fluid
				.technology_middle__content
					.technology_middle__item_left.technology_middle__item_side.technology_middle__item_three_left
						.p-item__picture_wr
							img(src="../../../../static/img/other/technology_img3.png", alt="GeoZilla Family & Friends GPS Locator Location History").technology_middle__img.technology_middle__item_three_img.technology_middle__img_theerd
					.technology_middle__item_right.technology_middle__item_side.technology_middle__item_three_right
						p.technology_middle__title.technology_middle__item_three_title 
							span Integrate
							span popular IoT devices
						p.technology_middle__text GeoZilla connects cutting edge popular IoT solutions, making them available for families to use via a single app. You can pair a variety of  gadgets, GPS trackers, health trackers and smart home units to GeoZilla and share them with family. GeoZilla offers secure protocols and a sustainable IoT architecture, making it a stable and scalable solution, that can operate millions of gadgets.			