section.section_simple.section_child
	img(src="../../../../static//img/picture/GeoZilla-Child-Safety-App.jpg", alt="GeoZilla Safety App for Kids Children").section_child__bg
	img(src="../../../../static//img/other/Dimming Layer Wide.png", alt="wid").section_child__bg.section_child__dimming
	.container_fluid
		.section_simple__content.section_child__content
			.section_simple__content_right.section_child__left
				.section_simple__content_head.section_child__content_head
					h2.section_child__title.title_section.section_simple__title Know your child is safe at all times
				.section_simple__content_body
					p.section_child__text.section_simple__text If your kids don’t pick up the phone, you can find them through GeoZilla to make sure they are safe. Be in the know if your child gets to school on time with schedule alerts and get 
						b.text_bold  emergency 
						| notifications if they need help.


				.section_simple__content_footer.section_child__content_footer
					.section_loc__btn
						a(href="/plans.html" onclick="gtag('config', 'Ensure_Safety');").btn.btn_white ensure safety
							.btn__hover
							.btn__active


