.header
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 10
	&__nav
		padding-top: 20px

		@media(max-width:1024px)
			padding-top: 17px

		@media(max-width:767px)
			padding-top: 18px


.nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-content: center
	align-items: center

	color: #000

	@media(max-width:1024px)
		// 

	@media(max-width:767px)
		justify-content: center
		align-items: flex-start

	&__bnt
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-content: center
		align-items: center

	&__log_in
		font-size: 18px
		font-family: 'Avenir-Medium'

		margin-right: 31px

		&:hover
			color: #fff

			@media(max-width:1024px)
				color: #000

		@media(max-width:1024px)
			font-size: 13px

			margin-right: 22px

	&__logo 
		@media(max-width:1024px)
			margin-right: 78px

	&__link
		width: 51px
		height: 67px

		display: block

		@media(max-width:1024px)
			height: 45px
			width: 36px
	
	&__logo_img
		width: 100%
		height: 100%
		

