.header
	background: url('/static/img/picture/head_bg.png') no-repeat top center / cover
	color: #fff
	font-family: 'Avenir-Medium'

	width: 100%

	&__nav
		padding-top: 22px

	&__title
		font-size: 54px
		font-family: 'Avenir-Black'

		margin: 187px 0 21px 0

	&__text
		font-size: 22px

		margin-bottom: 37px

	&__btn
		padding-bottom: 147px








.nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-content: center
	align-items: center

	color: #fff

	&__bnt
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-content: center
		align-items: center

	&__log_in
		font-size: 18px
		font-family: 'Avenir-Medium'

		margin-right: 34px
