.btn
	font-family: 'Avenir-Medium'

	color: #fff

	font-size: 22px
	text-transform: uppercase
	letter-spacing: 1px

	display: flex
	justify-content: center
	align-content: center
	align-items: center
	position: relative

	box-shadow: $btn_shadow

	transition: $transition

	background-color: #41ca9f
	/* IE9, iOS 3.2+ */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMGE5YTMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzY1ZGM5ZCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNzAzIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==)
	background-image: -webkit-gradient(linear, 0% 100%, 100% 0%,color-stop(0, rgb(0, 169, 163)),color-stop(0.803, rgb(101, 220, 157)))
	/* Android 2.3 */
	background-image: -webkit-linear-gradient(bottom left,rgb(0, 161, 155) 0%,rgb(101, 220, 157) 80.3%)
	/* IE10+ */
	background-image: linear-gradient(to top right,rgb(0, 161, 155) 0%,rgb(101, 220, 157) 80.3%)
	background-image: -ms-linear-gradient(bottom left,rgb(0, 161, 155) 0%,rgb(101, 220, 157) 80.3%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff65dc9d",endColorstr="#ff00a9a3",GradientType=0)

	border-radius: 80px

	box-sizing: border-box

	width: 315px
	height: 72px
	overflow: hidden
	outline: none

	-webkit-appearance: none
	-webkit-tap-highlight-color: transparent

	&:hover, &:active, &:focus
		outline: none


	&__hover
		position: absolute
		display: block

		width: 100%
		height: 100%
		top: 0
		left: 0

		background: #fff
		opacity: 0
		transition: $transition

	@media(max-width:1024px)
		width: 220px
		height: 50px

		font-size: 15px



	&__active 
		display: block
		position: absolute

		width: 100%
		height: 100%
		top: 0
		left: 0

	&:active
		.btn__active
			background-color: #000
			opacity: 0.3

			@media(max-width:767px)
				opacity: 0

		.btn__hover
			opacity: 0

	&:hover
		.btn__hover
			opacity: 0.2



.color-w .btn_small
	color: #fff
	border: 1px solid #fff


.btn_small
	height: 50px
	width: 165px

	background: transparent
	background-image: none

	font-size: 18px
	line-height: 15px

	border: 1px solid #000
	border-radius: 8px

	overflow: hidden

	letter-spacing: normal
	text-transform: none
	color: #000
	z-index: 1

	box-shadow: none

	&__bg
		background-color: #41ca9f
		/* IE9, iOS 3.2+ */
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMwMGE5YTMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzY1ZGM5ZCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNzAzIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==)
		background-image: -webkit-gradient(linear, 0% 100%, 100% 0%,color-stop(0, rgb(0, 169, 163)),color-stop(0.703, rgb(101, 220, 157)))
		/* Android 2.3 */
		background-image: -webkit-linear-gradient(bottom left,rgb(0, 169, 163) 0%,rgb(101, 220, 157) 70.3%)
		/* IE10+ */
		background-image: linear-gradient(to top right,rgb(0, 169, 163) 0%,rgb(101, 220, 157) 70.3%)
		background-image: -ms-linear-gradient(bottom left,rgb(0, 169, 163) 0%,rgb(101, 220, 157) 70.3%)
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff65dc9d",endColorstr="#ff00a9a3",GradientType=0)
		
		display: block
		position: absolute

		width: 100%
		height: 100%
		top: 0
		left: 0
		opacity: 0
		transition: $transition
		z-index: -1


	@media(max-width:1024px)
		font-size: 13px

		width: 116px
		height: 37px

	&__active 
		border-radius: 5px

	&:hover
		border: 1px  solid rgba(0,0,0,0)
		border: none
		color: #fff

		box-shadow: $btn_shadow

		.btn_small__bg
			opacity: 1


.btn_color
	background-color: #ff8c6f
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmZmIxNjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmNmE3OCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTQ4Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==)
	background-image: -webkit-gradient(linear, 100% 0%, 0% 100%,color-stop(0, rgb(255, 177, 101)),color-stop(0.948, rgb(255, 106, 120)))
	background-image: -webkit-linear-gradient(top right,rgb(255, 177, 101) 0%,rgb(255, 106, 120) 94.8%)
	background-image: linear-gradient(to bottom left,rgb(255, 177, 101) 0%,rgb(255, 106, 120) 94.8%)
	background-image: -ms-linear-gradient(top right,rgb(255, 177, 101) 0%,rgb(255, 106, 120) 94.8%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffb165",endColorstr="#ffff6a78",GradientType=0)

.btn_white
	background: #fff
	color: #06575f

	&:hover
		.btn__hover
			color: #569493

.btn_transp
	background: transparent
	color: #fff

	border: 1px solid #fff

