section.apps
	.container_fluid
		h1.apps__title.title_section Discover Our Apps
		.discover_app
			.discover_app__item
				.discover_app__item_head
					a.discover_app__logo
						img(src="../../../../static/img/icon/GeoZillaIcon.png", alt="lo").discover_app__img
					.discover_app__info
						p.discover_app__title GeoZilla
						img(src="../../../../static/img/icon/stars.png", alt="stars").discover_app__stars
				.discover_app__item_body
					ul.discover_app__list
						li.discover_app__list_item Keep family safe with a location sharing app
						li.discover_app__list_item Monitor safety with an Apple Watch 
						li.discover_app__list_item Get location alerts to prevent emergencies
				.discover_app__item_footer
					.discover_app__social
						a(href="https://bnc.lt/geozilla_app_store").discover_app__link
							img(src="../../../../static/img/icon/AppStore Badge.png", alt="").discover_app__link_img
						a(href="https://bnc.lt/geozilla_google_play").discover_app__link
							img(src="../../../../static/img/icon/google-play-badge.png", alt="").discover_app__link_img
			.discover_app__item
				.discover_app__item_head.discover_app__item_head_fix
					a.discover_app__logo
						img(src="../../../../static/img/icon/iTunesArtwork@2x.png", alt="lo").discover_app__img.discover_app__img_size2
					.discover_app__info
						a.discover_app__title Couples
						img(src="../../../../static/img/icon/stars.png", alt="stars").discover_app__stars
				.discover_app__item_body
					ul.discover_app__list
						li.discover_app__list_item Keep your partner safe knowing where they are
						li.discover_app__list_item Interact and hang out in a private space
						li.discover_app__list_item Schedule dates and easily meetup in the city
				.discover_app__item_footer
					.discover_app__social
						a(href="#").discover_app__link
							img(src="../../../../static/img/icon/AppStore Badge.png", alt="").discover_app__link_img




