section.s-miss
	.container_fluid
		.s-miss__title_wr
			h2.s-miss__title.s-miss__title__top_line 
				spna GeoZIlla is a safety app with a 
					b.text_bold mission to
				spna offer peace of mind to families worldwide.
			//- h2.s-miss__title.s-miss__title__bot_line 
		.mission
			.mission__item
				.mission__picture
					img(src="../../../../static/img/icon/GeoZilla-Family-Friends-GPS-Locator-All.svg", alt="GeoZilla Family & Friends GPS Locator").mission__img
				h4.mission__title Monitor Family Safety
				p.mission__text Locate your family and close friends in real time
			.mission__item
				.mission__picture
					img(src="../../../../static/img/icon/GeoZilla-Emergency-Allert.svg", alt="GeoZilla Emergency Allert").mission__img
				h4.mission__title Get Place Alerts
				p.mission__text Get notified when they come home or leave work
			.mission__item
				.mission__picture
					img(src="../../../../static/img/icon/GeoZilla-Family-GPS-Locator.svg", alt="GeoZilla Family GPS Locator").mission__img
				h4.mission__title Check Location History
				p.mission__text Know what they’ve been up to for the last few weeks
			.mission__item
				.mission__picture
					img(src="../../../../static/img/icon/GeoZilla-Family-Chat-Messaging.svg", alt="GeoZilla Family Chat and Messenger").mission__img
				h4.mission__title Stay Connected
				p.mission__text Keep up your connection with a private chat
