section.team
	.container_fluid
		h2.team__title Meet Our Team
		.team__content
			.team__item
				.team__head
					img(src="../../../../static/img/About Us Photos/1artems-photo.png", alt="team").team__img
					a(href="https://www.linkedin.com/in/artemkozel/").team__link
						img(src="../../../../static/img/icon/linked-in-square-button.svg", alt="linkedin").team__in_img
				p.team__name Artem Kozel
				p.team__descript CEO
			.team__item
				.team__head
					img(src="../../../../static/img/About Us Photos/1alexs-photo@2x.png", alt="team").team__img
					a(href="https://www.linkedin.com/in/alexsharov/").team__link
						img(src="../../../../static/img/icon/linked-in-square-button.svg", alt="linkedin").team__in_img
				p.team__name Alex Sharov
				p.team__descript CTO

			.team__item
				.team__head
					img(src="../../../../static/img/About Us Photos/1team3.png", alt="team").team__img
					a(href="https://www.linkedin.com/in/pavelshikhov/").team__link
						img(src="../../../../static/img/icon/linked-in-square-button.svg", alt="linkedin").team__in_img
				p.team__name Pavel Shikhov
				p.team__descript Sr. Product Owner
			.team__item
				.team__head
					img(src="../../../../static/img/About Us Photos/1team4.png", alt="team").team__img
					a(href="https://www.linkedin.com/in/tatiana-protasova-a9808a22/").team__link
						img(src="../../../../static/img/icon/linked-in-square-button.svg", alt="linkedin").team__in_img
				p.team__name Tatiana Protasova
				p.team__descript Head of Growth

