section.premium
	.container_fluid
		.premium__title_wr
			h2.premium__title.title_section GeoZilla Premium
		.trial
			.trial__felft.trial__wr_item
				.trial__item
					p.trial__text Use up to 2 weeks of Location History to see what your family’s been up to 
					p.trial__text Set up Place Alerts to know when family members leave or arrive at home, work, or school
			.trial__right.trial__wr_item
				.trial__item
					p.trial__text Set up Schedule Alerts to know if your child arrived to school on time 
					p.trial__text Assign location-based tasks to pick up milk when your partner passes groceries 
		.premium__btn
			include ../btn/btn_main/btn