.about_top
	font-family: 'Avenir-Medium'

	position: relative

	overflow: hidden

	// .container_fluid
	// 	z-index: 5

	// .bg
	// 	position: absolute
	// 	width: 100%
	// 	height: 100%
	// 	top: 0
	// 	left: 0

	// &__bg
	// 	position: absolute
	// 	top: -45%
	// 	left: 0
	// 	width: 100%

	// 	height: auto
	// 	// object-fit: cover
	// 	z-index: 0

	// 	min-height: 100%


	// 	@media(max-width:1024px)
	// 		left: 50%
	// 		transform: translate(-50%, 0)

	// 	@media(max-width:767px)
	// 		width: auto
	// 		min-height: 541px
	// 		height: auto
	// 		left: 50%
	// 		top: 0%
	// 		width: 1641px
	// 		transform: translate(-63%, 0)

	&__wr
		background-image: url('/static/img/picture/GeoZilla-Family-Friends-GPS-Locator-All.jpg')
		background-repeat: no-repeat
		background-size: cover
		background-position: center

		position: relative

		&::before
			content: ""
			position: absolute

			top: 0
			right: 0

			height: 100%
			width: 100%	

			background: -moz-linear-gradient(89deg, rgba(5,242,222,0.8) 0%, rgba(31,104,154,1) 100%) /* ff3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31,104,154,.8)), color-stop(100%, rgba(5,242,222,0.8)))/* safari4+,chrome */
			background: -webkit-linear-gradient(89deg, rgba(5,242,222,0.8) 0%, rgba(31,104,154,.8) 100%)/* safari5.1+,chrome10+ */
			background: -o-linear-gradient(89deg, rgba(5,242,222,0.8) 0%, rgba(31,104,154,.8) 100%) /* opera 11.10+ */
			background: -ms-linear-gradient(89deg, rgba(5,242,222,0.8) 0%, rgba(31,104,154,.8) 100%) /* ie10+ */
			background: linear-gradient(1deg, rgba(5,242,222,0.8) 0%, rgba(31,104,154,.8) 100%) /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f689a', endColorstr='#05f2de',GradientType=0 ) /* ie6-9 */

		@media(max-width:767px)
			background-position: 74% 40%
			background-size: 815px


	
	&__title
		color: #fff

		font-size: 49px
		line-height: 60px
		text-align: center

		padding-top: 202px
		padding-bottom: 99px

		@media(max-width:1024px)
			font-size: 38px
			line-height: 42px

			padding-top: 155px
			padding-bottom: 30px

			width: 40%
			margin: 0 auto

		@media (max-width: 767px)
			width: 100%




.about_descript
	font-size: 27px
	line-height: 34px

	max-width: 635px
	margin: 0 auto
	padding-top: 101px
	padding-bottom: 80px

	text-align: center

		// @media(max-width:1024px)
		// @media (max-width: 767px)

	@media(max-width:1024px)
		font-size: 18px
		line-height: 24px

		max-width: 435px
		padding-top: 53px
		padding-bottom: 60px

	@media (max-width: 767px)
		max-width: 250px
		padding-top: 32px



.about
	background-image: url('/static/img/picture/about_bg_main.png')
	background-repeat: no-repeat
	background-position: top
	background-size: 100% 

	overflow: hidden

	// background-size: cover
	// margin-top: 500px
	

	// border: 1px solid red

	position: relative

	z-index: 2

	min-height: 2700px

	@media(max-width:1240px)
		background-position: 0 -13%


	@media(max-width:1179px)
		background-position: 0 -14%
		background-size: cover

	@media(max-width:1139px)
	    background-position: 0 125px

	@media(max-width:1024px)
		background-image: url('/static/img/picture/bg700px.png')
		background-position: top
		background-size: auto

		min-height: initial

		// background-position: -9px -41px

	@media (max-width: 767px)
		background-image: url('/static/img/picture/bg300px.png')

		background-size: auto


.platform
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	@media (max-width: 767px)
		padding-bottom: 450px

	&__side
		width: 50%

		// border: 1px solid red

		@media (max-width: 767px)
			width: 100%

	&__left
		padding-left: 165px

		@media(max-width:1024px)
			padding-left: 90px

		@media (max-width: 767px)
			padding-left: 0

	&__right
		@media (max-width: 767px)
			display: none

	&__icon
		height: 80px
		width: 80px
		margin-bottom: 20px

		@media(max-width:1024px)
			height: 56px
			width: 56px

		@media (max-width: 767px)
			margin-bottom: 15px

		// box-shadow: $btn_shadow

	&__text
		font-size: 18px
		line-height: 24px
		font-family: 'Avenir-Light'

		max-width: 340px

		@media(max-width:1024px)
			font-size: 12px
			line-height: 18px

			max-width: 320px

		@media (max-width: 767px)
			max-width: 100%

			font-size: 12px

	&__phone
		max-height: 650px

		@media(max-width:1024px)
			max-height: 487px
			position: relative
			top: -21px


.about__decore_point
	position: absolute
	top: 0%
	left: 0%
	width: 100%
	height: auto

	z-index: -2

	background-repeat: no-repeat
	background-position: top
	background-size: cover

	@media(max-width:1024px)
		top: -17px

		min-height: 300px
		height: auto
		height: 720px
		top: 9%
		top: 9%
		top: 9%
		top: 9%
		// top: 13%

	@media(max-width:1024px)
		height: auto
		max-width: 720px
		margin: 0 auto
		display: -ms-flexbox
		display: flex
		box-sizing: border-box
		position: absolute
		left: 46.5%
		transform: translate(-50%)

	@media (max-width: 767px)
		min-height: 500px
		top: 1%
		top: -1%



.text_p
	@media(max-width:1024px)
		height: 377px

		width: 63%
		margin: 0 auto

		display: flex

		box-sizing: border-box

		position: absolute

		left: 50%

		transform: translate(-50%, 0)


	@media(max-width:913px)
		left: 49.5%

	@media(max-width:820px)
		left: 49%


	@media (max-width: 767px)
		padding-left: 0px
		padding-right: 0px
		max-width: 290px
		box-sizing: initial
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		position: absolute
		left: 51.5%
		top: 32%

		transform: translate(-50%, 0)

		width: 292px



	@media(max-width:624px)
		left: 51%

	@media(max-width:550px)
		left: 50.5%

	@media(max-width:414px)
		left: 49.5%

	@media(max-width:480px)
		left: 50%

	@media(max-width:364px)
		left: 49%



.decore
	&__img_bg
		width: 100%
		height: auto

		position: relative

		@media(max-width:1024px)
			display: none
			

.decore_point
	color: #06beb0

	font-family: 'Avenir-Black'
	position: absolute

	@media(max-width:1240px)
		margin-top: 100px

	@media(max-width:1024px)
		margin-top: 0
	
	@media(max-width:1024px)
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column

	&_one
		left: 22.5%
		bottom: 29.5%
		// @media (max-width: 1440px)
		// 	left: 22.1%
		// 	bottom: 27.5%
		// @media (max-width: 1300px)
		// 	bottom: 26%
		// @media(max-width:1240px)
		// 	left: 21.6%
		// @media (max-width: 1118px)
		// 	bottom: 24.5%

		// @media(max-width:1024px)
		// 	bottom: 42%
		// 	left: 23.5%

		// @media (max-width: 870px)
		// 	bottom: 38%
		// 	left: 23.5%

		// @media (max-width: 767px)
		// 	bottom: 45%
		// 	left: 29.5%

		// @media (max-width: 767px)
		// 	position: static !important
			
		// 	padding-top: 114px


	&_two
		left: 35.8%
		bottom: 38.8%

		// @media (max-width: 1440px)
		// 	left: 35.2%
		// 	bottom: 37%

		// @media (max-width: 1300px)
		// 	bottom: 35%

		// @media (max-width: 1118px)
		// 	bottom: 33.5%

		// @media(max-width:1240px)
		// 	left: 35%

		// @media(max-width:1070px)
		// 	left: 34.7%

	&_three
		left: 50%
		bottom: 48.5%

		
		// @media (max-width: 1440px)

		// 	left: 49%
		// 	bottom: 47%

		// // border: 1px solid

		// @media (max-width: 1300px)
		// 	bottom: 45.5%

		// @media (max-width: 1118px)
		// 	bottom: 44%

		// @media(max-width:1240px)
		// 	left: 48.7%


	&__number
		font-size: 60px
		line-height: 215px

		position: relative


		@media(max-width:1024px)
			line-height: 53px

	&__text
		font-family: 'Avenir-Medium'
		font-size: 18px
		line-height: 24px

		margin-left: 5px

		@media(max-width:1179px)
			font-size: 15px



.team
	font-family: 'Avenir-Medium'

	&__title
		font-size: 40px
		line-height: 61px
		color: #fff

		padding-top: 125px
		padding-bottom: 80px

		text-align: center

		@media(max-width:1024px)
			padding-top: 100px
			padding-bottom: 57px

		@media (max-width: 767px)
			padding-bottom: 73px

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		@media (max-width: 767px)
			flex-direction: column


	&__item
		width: 25%

		color: #fff

		text-align: center



		@media (max-width: 767px)
			width: 100%
			padding-bottom: 67px

	&__head
		position: relative

		margin-bottom: 30px

		@media (max-width: 767px)
			margin-bottom: 24px

	&__img
		width: 199px
		height: 197px

		border-radius: 50%

		@media(max-width:1024px)
			height: 139px
			width: 139px

	&__link
		position: absolute
		right: 20%
		bottom: 0

		@media (max-width: 767px)
			right: 30%
			bottom: 5px

	&__in_img
		width: 38px
		height: 38px

		@media(max-width:1024px)
			width: 27px
			height: 27px
			

	&__name
		padding-bottom: 5px

		font-size: 27px
		line-height: 34px

		@media(max-width:1024px)
			font-size: 18px
			line-height: 24px

	&__descript
		width: 80%
		margin: 0 auto

		font-family: 'Avenir-Light'
		font-size: 27px
		line-height: 34px

		@media(max-width:1024px)
			font-size: 18px
			line-height: 24px

			width: 84%

		@media (max-width: 767px)
			width: 74%



.about_gallery
	font-family: 'Avenir-Medium'

	padding-top: 185px
	padding-bottom: 100px

	@media(max-width:1024px)
		padding-top: 80px
		padding-bottom: 49px

	@media (max-width: 767px)
		padding-top: 0
		padding-bottom: 94px

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between

		@media(max-width:1024px)
			flex-direction: column


	&__left
		max-width: 390px
		color: #fff

		@media(max-width:1024px)
			text-align: center
			margin: 0 auto
			max-width: 550px
			padding-bottom: 60px

		@media (max-width: 767px)
			display: block

			text-align: center
			padding-bottom: 0


	&__title
		font-size: 40px
		line-height: 61px

		padding-bottom: 37px
		padding-top: 120px

		@media(max-width:1024px)
			padding-top: 0
			padding-bottom: 17px


		@media (max-width: 767px)
			padding-top: 68px

	&__text
		font-size: 22px
		line-height: 32px
		font-family: 'Avenir-Light'

		padding-bottom: 36px

		@media(max-width:1024px)
			font-size: 18px
			line-height: 24px


		@media (max-width: 767px)
			font-size: 18px
			line-height: 24px

			padding-bottom: 30px


	&__right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		max-width: 677px

		@media(max-width:1024px)
			width: 100%
			max-width: 100%

			height: 333px

		@media (max-width: 767px)
			padding-top: 20px
			height: 670px

		&_mob
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between

			width: 100%

			@media(max-width:1024px)
				flex-direction: column
				display: block

				width: 32%

			@media (max-width: 767px)
				width: 100%

			&_wr
				width: 50%
				max-width: 330px

				flex: auto

				overflow: hidden

				border-radius: 10px

				@media (max-width: 1115px)
					width: 49%
					max-width: 49%

				@media(max-width:1024px)
					margin-bottom: 15px

					width: 100%
					max-width: 225px

					border-radius: 0

				@media (max-width: 767px)
					width: 100%
					max-width: 100%
					margin-bottom: 25px


		&_wr:first-child
			width: 100%
			max-width: 100%

			@media(max-width:1024px)
				max-width: 477px
				width: 70%

		&_wr
			width: 50%
			max-width: 330px
			margin-bottom: 15px

			flex: auto

			overflow: hidden

			border-radius: 10px

			@media(max-width:1024px)
				border-radius: 0

			@media (max-width: 767px)
				margin-bottom: 25px

		&_img
			width: 100%
			height: auto
			min-height: 223px

			display: block

			@media(max-width:1024px)
				min-height: 149px
			




.see_position
	background-color: #fff

	padding-top: 110px
	padding-bottom: 110px

	@media(max-width:1024px)
		padding-top: 72px
		padding-bottom: 80px

	@media (max-width: 767px)
		padding-top: 91px
		padding-bottom: 120px

	&__text
		font-size: 27px
		line-height: 34px
		font-family: 'Avenir-Medium'

		margin: 0 auto
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column

		text-align: center

		padding-bottom: 30px

		@media(max-width:1024px)
			font-size: 18px

			padding-bottom: 10px

		@media (max-width: 767px)
			line-height: 30px

	&__btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center

		padding-top: 30px

		@media(max-width:1024px)
			padding-top: 10px

		@media (max-width: 767px)
			padding-top: 25px







@media(max-width:1024px)
	.decore_point_one
		position: relative !important
		bottom: 0
		left: 0
		padding-top: 27%


	.decore_point_two
		position: relative  !important
		bottom: 0
		left: 0
		padding-top: 9%
		padding-left: 8%
		padding-right: 10%
		width: 84px


		.decore_point__text
			width: 86%
			

	.decore_point_three
		position: relative  !important
		bottom: 4px
		left: 0


@media (max-width: 767px)
	.decore_point_one
		padding-top: 39%
		padding-left: 5%

	.decore_point_two
		padding-top: 13%
		padding-left: 20px
		padding-right: 13px

	.decore_point_three
		bottom: 6px
















.decore_point_one, .decore_point_two, .decore_point_three
	.decore_point__number
		position: relative

		&::before
			content: ""
			height: 72px
			width: 1px
			position: absolute

			bottom: -58px
			left: 20px
			background-color: #06d7ce

		&::after
			content: ""
			height: 17px
			width: 17px
			position: absolute
			border-radius: 50%
			border: 4px solid #fff

			bottom: -84px
			left: 10px
			background-color: #06d7ce



.decore_point_one
	.decore_point__number
		&::before
			height: 56px
			width: 1px

			bottom: -42px
			left: 15px

			@media(max-width:1024px)
				bottom: -90px

		&::after
			bottom: -69px
			left: 3px

			@media(max-width:1024px)
				bottom: -120px
				



.decore_point_two
	.decore_point__number
		&::after
			left: 8px

			@media(max-width:1024px)
				bottom: -156px

		&::before
			@media(max-width:1024px)
				bottom: -125px
			


.decore_point_three
	.decore_point__number
		&::before
			width: 1px

			left: 16px

			@media(max-width:1024px)
				bottom: -103px

		&::after
			left: 4px	

			@media(max-width:1024px)
				bottom: -134px	