section.section_simple.section_elderly
	.container_fluid
		.section_simple__content.section_elderly__content
			.section_simple__content_right.section_elderly__right
				.section_simple__content_head
					h2.section_elderly__title.title_section.section_simple__title Monitor the wellbeing of your elderly
				.section_simple__content_body
					p.section_elderly__text.section_simple__text  As our parents get older we need to know where they are and if they need help. GeoZilla is around 24/7. You can pair it with an Apple Watch and monitor their location through GeoZilla and get notifications whenever they leave home. 
				.section_simple__content_footer.section_elderly__content_footer
					.section_loc__btn.section_elderly__btn
						a(href="#").btn.btn_white start monitoring