section.section_simple.section_elderly
	.bg
		img(src="../../../../static/img/picture/GeoZilla-Elderly.jpg", alt="GeoZilla Family Safety App Aging Elderly").section_elderly__bg
		img(src="../../../../static//img/other/Dimming Layer Wide.png", alt="wid").section_child__bg.section_elderly__dimming
	.container_fluid
		.section_simple__content.section_elderly__content
			.section_simple__content_right.section_elderly__right
				.section_simple__content_head
					h2.section_elderly__title.title_section.section_simple__title Monitor the wellbeing of your elderly
				.section_simple__content_body
					p.section_elderly__text.section_simple__text As our parents get older we need to know where they are and if they need help. GeoZilla is around 24/7. 
						b.text_bold You can pair it with an Apple Watch and monitor their location, get notifications whenever they leave home, monitor their Heart Rate (coming soon) through GeoZilla and be alerted in case of emergency. 

				.section_simple__content_footer.section_elderly__content_footer
					.section_loc__btn.section_elderly__btn
						a(href="/pricing.html" onclick="gtag('config', 'Start_Monitoring');").btn.btn_white start monitoring
							.btn__hover
							.btn__active