.pricing__header
	position: absolute
	top: 0
	left: 0
	width: 100%
	.btn_small
		border: 1px solid #fff
		color: #fff
	.nav__logo
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
	
	&_nav
		@media(max-width:767px)
			display: block

.p-main
	height: 522px
	max-height: 522px

	@media(max-width:1024px)
		height: auto
		max-height: initial

	img 
		width: 100%
		height: auto
		position: absolute
		top: 0
		left: 0
		z-index: -1
		height: 520px

		@media(max-width:1024px)
			height: 400px

		@media(max-width:767px)
			max-height: 40%
			height: 40%
			object-fit: cover

		@media(max-width:350px)
			max-height: 224px
			height: 224px


.pricing
	&__main
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center

		top: 0
		left: 50%
		margin-top: 143px


		@media(max-width:1024px)
			flex-direction: column
			justify-content: center
			align-items: center

			margin-top: 0
			padding-top: 100px

	&__item:first-child
		margin-right: 15px

		@media(max-width:1024px)
			margin-right: 0
			margin-bottom: 40px

	&__item:last-child
		margin-left: 15px

		@media(max-width:1024px)
			margin-left: 0

	&__item
		width: 391px

		font-family: 'Avenir-Medium'

		background-color: #fff
		box-shadow: $btn_shadow

		border-radius: 30px
		overflow: hidden

		@media(max-width:1024px)
			width: 280px

		@media(max-width:767px)
			width: 291px

		&_head
			font-size: 22px
			color: #fff
			
			background-color: #c7c7c7

			padding-top: 25px
			padding-bottom: 20px

			text-align: center

			position: relative
			z-index: 1

			@media(max-width:1024px)
				padding-top: 13px
				padding-bottom: 13px

				font-size: 18px

			&_color
				background: -moz-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,204,86,1)), color-stop(100%, rgba(255,179,112,1)))
				background: -webkit-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: -o-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: -ms-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: linear-gradient(134deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc56', endColorstr='#ffb370',GradientType=1 )

			&_hover
				position: absolute

				width: 100%
				height: 100%

				top: 0
				left: 0

				opacity: 0

				z-index: -1

				transition: $transition
				background: -moz-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,204,86,1)), color-stop(100%, rgba(255,179,112,1)))
				background: -webkit-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: -o-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: -ms-linear-gradient(316deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				background: linear-gradient(134deg, rgba(255,204,86,1) 0%, rgba(255,179,112,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc56', endColorstr='#ffb370',GradientType=1 )
			

		&_title
			font-size: 49px

			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			align-content: center


			width: 100%
			padding-top: 25px
			padding-bottom: 15px

			@media(max-width:1024px)
				font-size: 38px

				padding-top: 15px
				padding-bottom: 15px

			span
				line-height: 62px

				@media(max-width:1024px)
					line-height: 44px

		&_text
			font-size: 22px
			font-family: 'Avenir-Light'

			width: 40%
			margin: 0 auto
			text-align: center

			@media(max-width:1024px)
				font-size: 18px

				width: 70%

		&_footer
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center

			margin-top: 35px
			margin-bottom: 40px
			width: 100%

			@media(max-width:1024px)
				margin-bottom: 30px

		&_btn
			width: 260px
			height: 72px

			@media(max-width:1024px)
				width: 184px
				height: 50px



.p-moddle
	&__text
		font-size: 18px
		line-height: 24px
		font-family: 'Avenir-Light'

		width: 30%
		margin: 0 auto
		padding-top: 13px
		padding-bottom: 98px

		text-align: center

		@media(max-width:1024px)
			padding-top: 39px
			padding-bottom: 70px

			font-size: 12px

		@media(max-width:767px)
			width: 80%

	&__title
		font-size: 49px
		line-height: 61px
		font-family: 'Avenir-Medium'
		text-align: center

		margin: 0 auto	
		padding-bottom: 67px

		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column

		@media(max-width:1024px)
			font-size: 38px
			line-height: 52px
			padding-bottom: 50px

		@media(max-width:767px)
			padding-bottom: 0

			line-height: 52px


.p-item
	height: 485px

	@media(max-width:1024px)
		height: auto

	&__left 
		height: 100%

	.container_fluid
		@media(max-width:767px)
			padding-left: 38px
			padding-right: 38px

	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

		@media(max-width:767px)
			flex-direction: column-reverse

	&__picture_wr
		@media(max-width:1024px)
			text-align: right

	

	&__img
		width: 100%
		height: auto
		max-width: 410px

	&__side
		width: 50%
		padding-left: 83px
		box-sizing: border-box


		@media(max-width:1024px)
			padding-left: 0px

		@media(max-width:767px)
			padding: 0
			width: 100%

		&_text
			@media(max-width:1024px)
				padding-left: 108px

			@media(max-width:767px)
				padding: 0

	&__title
		font-size: 40px
		line-height: 61px
		font-family: 'Avenir-Medium'

		padding-top: 150px
		padding-bottom: 20px

		@media(max-width:1024px)
			font-size: 18px
			line-height: 24px
			padding-top: 100px

		@media(max-width:767px)
			text-align: center

			padding-top: 70px


	&__text
		font-size: 22px
		line-height: 32px
		font-family: 'Avenir-Light'
		max-width: 57%

		@media(max-width:1024px)
			font-size: 12px
			line-height: 18px

		@media(max-width:767px)
			margin: 0 auto
			padding-bottom: 30px

			text-align: center



	&__reverse
		flex-direction: row-reverse

		@media(max-width:767px)
			flex-direction: column-reverse

		.p-item__picture_wr
			text-align: right

			padding-right: 12%

			@media(max-width:1024px)
				padding: 0

			@media(max-width:767px)
				padding: 0

			img 
				flex: auto
				align-self: flex-start

				@media(max-width:1024px)

					position: relative

				@media(max-width:767px)
					left: 0

		.p-item__title, .p-item__text 
			padding-left: 37%

			@media(max-width:767px)
				padding-left: 0


.p-stars
	padding-bottom: 110px

	@media(max-width:1024px)
		padding-bottom: 80px

	&__text
		@media(max-width:1024px)
			font-size: 18px

	&__img
		@media(max-width:1024px)
			margin-top: 7px

	&__btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center

	&__star
		margin-bottom: 36px

		@media(max-width:1024px)
			margin-bottom: 27px


.p-item__one
	@media(max-width:1024px)
		padding-bottom: 35px

		.p-item__title 
			padding-top: 123px

			@media(max-width:767px)
				padding-top: 55px

	&_img
		max-width: 370px

		@media(max-width:1024px)
			max-width: 270px

.p-item__two
	padding-bottom: 30px

	@media(max-width:1024px)
		padding-bottom: 40px

		.p-item__right
			padding-left: 31px

			@media(max-width:767px)
				padding-left: 0

		.p-item__picture_wr
			text-align: left
			padding-left: 6%

		.p-item__title
			padding-top: 130px
			padding-bottom: 10px

			@media(max-width:767px)
				padding-top: 8px

	@media(max-width:767px)
		padding-bottom: 0

	&_img
		max-width: 350px
		
		@media(max-width:1024px)
			max-width: 250px



.p-item__three
	padding-bottom: 70px

	@media(max-width:1024px)
		.p-item__title
			padding-top: 130px
			padding-bottom: 10px

			@media(max-width:767px)
				padding-top: 50px

		padding-bottom: 45px

		

	

	@media(max-width:767px)
		padding-bottom: 0


	&_img
		max-width: 390px

		@media(max-width:1024px)
			max-width: 270px

	&_left
		padding-left: 13%

		@media(max-width:1024px)
			padding-left: 0

		@media(max-width:767px)
			padding-left: 0





.p-item__four
	padding-bottom: 162px

	@media(max-width:1024px)
		padding-bottom: 40px

		.p-item__picture_wr
			text-align: left

		.p-item__title
			padding-top: 130px

			@media(max-width:767px)
				padding-top: 50px

		.p-item__reverse .p-item__text, .p-item__reverse .p-item__title
			padding-left: 45%

			@media(max-width:767px)
				padding-left: 0

	@media(max-width:767px)
		padding-bottom: 47px

	&_img
		max-width: 395px

		@media(max-width:1024px)
			max-width: 295px


		

.pricing + .footer .footer__copy
	padding-bottom: 100px

	@media(max-width:1024px)
		padding-bottom: 90px

	@media(max-width:767px)
		padding-bottom: 85px
