header.header
	.container_fluid
		.header__nav.nav
			.nav__logo
				a(href="/")
					img(src="../../../../static/img/icon/logo.png", alt="logo").nav__logo_img
			.nav__bnt
				a(href="#").nav__log_in.hover_text.color-w Log In
				.nav__try.color-w
					include ../btn/btn_small/btn

