header.header
	.container_fluid
		.header__nav.nav
			.nav__logo
				img(src="../../../../static/img/icon/logo.png", alt="log").nav__logo_img
			.nav__bnt
				a(href="#").nav__log_in Log In
				.nav__try
					include ../btn/btn_small/btn
		h1.header__title Keep loved ones safe
		p.header__text Trusted by 1M families and counting.
		.header__btn
			include ../btn/btn_main/btn
			

