footer.footer
	.container_fluid
		h2.footer__title.title_section Download GeoZilla
		.footer__social
			a(href="https://bnc.lt/geozilla_app_store").footer__social_link
				img(src="../../../../static/img/icon/AppStore Badge.png", alt="").footer__social_link_img
			a(href="https://bnc.lt/geozilla_google_play").footer__social_link
				img(src="../../../../static/img/icon/google-play-badge.png", alt="").footer__social_link_img
		.footer__list_wr
			ul.nav_list
				li.nav_list__title About
				li.nav_list__item
					a(href="#").nav_list__link About GeoZilla
				li.nav_list__item
					a(href="").nav_list__link Team
				li.nav_list__item
					a(href="").nav_list__link Blog
				li.nav_list__item
					a(href="").nav_list__link Press
			ul.nav_list
				li.nav_list__title Offers
				li.nav_list__item
					a(href="#").nav_list__link Free Trial
				li.nav_list__item
					a(href="#").nav_list__link Quarter
				li.nav_list__item
					a(href="#").nav_list__link Annual
				li.nav_list__item
					a(href="#").nav_list__link Devices
			ul.nav_list
				li.nav_list__title Technology
				li.nav_list__item
					a(href="#").nav_list__link Features
				li.nav_list__item
					a(href="#").nav_list__link Core technology
				li.nav_list__item
					a(href="#").nav_list__link Product vision
			ul.nav_list
				li.nav_list__title Help
				li.nav_list__item
					a(href="#").nav_list__link FAQ
				li.nav_list__item
					a(href="#").nav_list__link Privacy
				li.nav_list__item
					a(href="#").nav_list__link Terms
				li.nav_list__item
					a(href="#").nav_list__link Contact Us
				li.nav_list__item
					a(href="#").nav_list__link Careers
			ul.nav_list
				li.nav_list__title Social
				li.nav_list__item
					a(href="#").nav_list__link Instagram
				li.nav_list__item
					a(href="#").nav_list__link Facebook
				li.nav_list__item
					a(href="#").nav_list__link Twitter
		p.footer__copy Copyright © 2019 GeoZilla. All rights reserved.
include ../pop_ups/pop_ups



	













	

