.p_login {
    max-width: 400px;
    padding: 40px 30px 0;
    transform: none;
    position: relative;
    top: auto;
    left: auto;
    animation: fadeIn .5s ease both;
}
@keyframes fadeIn {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 0%);
        opacity: 1;
    }
}

.p_login_wr {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

    .pop_up__title {
        font-size: 30px;
        text-align: center;
        margin-top: 0;
    }
    .p_login__title {
        font-size: 28px;
        margin-bottom: 10px;
    }




.p_login__footer {
    padding-bottom: 40px;
}


.p_login__btn_wr {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.p_login__btn {
    border: none;
    width: 140px;
    height: 54px;
    font-size: 16px;
}

.p_login__logo {
    width: 52px;
    height: 65px;
}
.p_login__link_lg {
    display: block;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.login_fr__body {
    padding-bottom: 31px;
    position: relative;
    border-bottom: 1px solid #70707045;
}

.login_fr__input_wr {
    height: 42px;
    margin-bottom: 20px;
    width: auto;
}
.login_fr__input_wr:last-child {
    margin-bottom: 0;
}

.login_fr__input {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
    font-size: 16px;
}
.login_fr__input_novalid {
    border: 1px solid #D1345B;
}
.login_fr__input_novalid::placeholder {
    color: #D1345B;
}



.login_fr__text {
    color: #070707;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}
.login_fr__text_link {
    color: #3454D1;
    border-bottom: 1px solid #3454D1;
}

.forget_pass {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
    color: #3454D1;
}


.pop_up_op {
    overflow: hidden;
}



@media(max-width:1024px) {
   
   
}

@media (max-width: 767px) {
    .p_login {
        max-width: 360px;
        padding: 30px 26px 0;
    }
    
    .pop_up__input_multi .login_fr__input_wr {
        max-width: 102px;
    }
    .p_login .pop_up__descript {
        margin-bottom: 20px;
    }
    .p_login__title {
        margin-bottom: 30px;
    }
    .p_login__logo {
        width: 40px;
        height: 50px;
    }
    .p_login .pop_up__toggle {
        right: 10px;
        top: 10px;
        width: 15px;
        height: 15px;
    }
    
}

@media (max-width: 376px) {
    .p_login {
        max-width: 337px;
    }
    .pop_up__input_multi .login_fr__input_wr {
        max-width: 82px;
    }
    .p_login {
        padding: 30px 20px 0;

    }
}
@media (max-width: 321px) {
    .p_login {
        max-width: 337px;
    }
    .pop_up__input_multi .login_fr__input_wr {
        max-width: 82px;
    }
}


/* @media (max-width: 767px) */

