.s-miss
	background-color: #fff
	color: #313131

	width: 100%
	margin-bottom: 110px

	position: relative

	&__title_wr
		padding: 103px 0 97px
		margin: 0 auto
		// padding: 110px 0 90px 297px
		max-width: 555px

	&__title
		font-size: 27px

		font-family: 'Avenir-Medium'
		text-align: center

		
.mission
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center

	&__item
		text-align: center

		// max-width: 266px
		width: 25%
		margin-left: 14px
		margin-right: 14px
		
	&__title
		font-family: 'Avenir-Medium'
		font-size: 22px

		margin-bottom: 10px

	&__text
		font-size: 18px
		line-height: 24px


		width: 75%
		margin: 0 auto

		color: #313131

		font-family: 'Avenir-Light'

	&__picture
		margin-bottom: 25px
		height: 70px

	&__img
		width: auto
		height: auto


